In [3]:
# 读取 保存数据文件

| 文件类型    | 函数                           | 示例                                  |
| ------- | ---------------------------- | ----------------------------------- |
| CSV     | `pd.read_csv()`              | `pd.read_csv('data.csv')`           |
| TSV/制表符 | `pd.read_csv(..., sep='\t')` | `pd.read_csv('data.tsv', sep='\t')` |
| TXT     | `pd.read_table()`            | `pd.read_table('data.txt')`         |

| 类型        | 函数                    | 示例                                         |
| --------- | --------------------- | ------------------------------------------ |
| JSON      | `pd.read_json()`      | `pd.read_json('data.json')`                |
| HTML 表格   | `pd.read_html()`      | `pd.read_html('https://...')`              |
| SQL 数据库   | `pd.read_sql()`       | `pd.read_sql('SELECT * FROM table', conn)` |
| Clipboard | `pd.read_clipboard()` | `pd.read_clipboard()`                      |
| Parquet   | `pd.read_parquet()`   | `pd.read_parquet('data.parquet')`          |
| Pickle    | `pd.read_pickle()`    | `pd.read_pickle('data.pkl')`               |

In [5]:
import numpy as np
import pandas as pd

In [10]:
data = pd.read_csv('D:/game.csv')
data

    编号   地区     员工  出生日期        原石    游戏    地区+员工
0    1   北京     小白  2003       648    星铁     北京小白
1    2   北京     小黑  2004       888    原神     北京小黑
2    3   上海     小黄  2005      9000   zzz     上海小黄
3    4   上海     小兰  2006      8779    未定     上海小兰
4    5   杭州     小蓝  2007      8765    原神     杭州小蓝
5    6   武汉     小花  1999     12000    崩三     武汉小花
6    7   重庆     小紫  2000      8777    崩2     重庆小紫
7    8   金华  小nimo  2003     16000    星铁  金华小nimo
8    9   金华    小企鹅  2006  10000000    星铁    金华小企鹅
9   10   厦门     小灰  1998      3099   崩可梦     厦门小灰
10  11   天津     小绿  1456      2345  星布谷地     天津小绿
11  12  NaN     小A  1345      4568   崩可梦       小A

In [11]:
data['累计登录'] = np.nan
data

    编号   地区     员工  出生日期        原石    游戏    地区+员工  累计登录
0    1   北京     小白  2003       648    星铁     北京小白   NaN
1    2   北京     小黑  2004       888    原神     北京小黑   NaN
2    3   上海     小黄  2005      9000   zzz     上海小黄   NaN
3    4   上海     小兰  2006      8779    未定     上海小兰   NaN
4    5   杭州     小蓝  2007      8765    原神     杭州小蓝   NaN
5    6   武汉     小花  1999     12000    崩三     武汉小花   NaN
6    7   重庆     小紫  2000      8777    崩2     重庆小紫   NaN
7    8   金华  小nimo  2003     16000    星铁  金华小nimo   NaN
8    9   金华    小企鹅  2006  10000000    星铁    金华小企鹅   NaN
9   10   厦门     小灰  1998      3099   崩可梦     厦门小灰   NaN
10  11   天津     小绿  1456      2345  星布谷地     天津小绿   NaN
11  12  NaN     小A  1345      4568   崩可梦       小A   NaN

In [14]:
data.loc[:, '累计登录'] = 50
data

    编号   地区     员工  出生日期        原石    游戏    地区+员工  累计登录
0    1   北京     小白  2003       648    星铁     北京小白  50.0
1    2   北京     小黑  2004       888    原神     北京小黑  50.0
2    3   上海     小黄  2005      9000   zzz     上海小黄  50.0
3    4   上海     小兰  2006      8779    未定     上海小兰  50.0
4    5   杭州     小蓝  2007      8765    原神     杭州小蓝  50.0
5    6   武汉     小花  1999     12000    崩三     武汉小花  50.0
6    7   重庆     小紫  2000      8777    崩2     重庆小紫  50.0
7    8   金华  小nimo  2003     16000    星铁  金华小nimo  50.0
8    9   金华    小企鹅  2006  10000000    星铁    金华小企鹅  50.0
9   10   厦门     小灰  1998      3099   崩可梦     厦门小灰  50.0
10  11   天津     小绿  1456      2345  星布谷地     天津小绿  50.0
11  12  NaN     小A  1345      4568   崩可梦       小A  50.0

In [16]:
data.to_pickle('game.pickle')

In [18]:
df = pd.read_pickle('game.pickle')
df

    编号   地区     员工  出生日期        原石    游戏    地区+员工  累计登录
0    1   北京     小白  2003       648    星铁     北京小白  50.0
1    2   北京     小黑  2004       888    原神     北京小黑  50.0
2    3   上海     小黄  2005      9000   zzz     上海小黄  50.0
3    4   上海     小兰  2006      8779    未定     上海小兰  50.0
4    5   杭州     小蓝  2007      8765    原神     杭州小蓝  50.0
5    6   武汉     小花  1999     12000    崩三     武汉小花  50.0
6    7   重庆     小紫  2000      8777    崩2     重庆小紫  50.0
7    8   金华  小nimo  2003     16000    星铁  金华小nimo  50.0
8    9   金华    小企鹅  2006  10000000    星铁    金华小企鹅  50.0
9   10   厦门     小灰  1998      3099   崩可梦     厦门小灰  50.0
10  11   天津     小绿  1456      2345  星布谷地     天津小绿  50.0
11  12  NaN     小A  1345      4568   崩可梦       小A  50.0